body {
/*	background-image: url("../images/pumpkins.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;*/
	font-family: "Open Sans", Arial, Helvetica, Sans-Serif;
	background-color: #D1DEA0; 
}

h1 {
	font-size: 60px;
	text-align: center;
	color: #FAFCF3;
}

p {
	color: #7C8F35;
}

.jumbotron {
	background-color: #7C8F35;
}

#word-area {
	font-size: 36px;
	font-weight: bold;
	color: #52660B;
	letter-spacing: 4px;
	margin-bottom: 20px;
}

.game-text {
	font-size: 28px;
	color: #52660B;
	min-height: 42px;
}

/*#instructions {
	text-align: justify; 
}*/

h2 {
	font-size: 36px;
}

h3 {
	font-family: 30px;
}